AI-Powered CV Extractor_ Email to Supabase via n8n & LLM.json
{
  "name": "AI-Powered CV Extractor: Email to Supabase via n8n & LLM",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        380
      ],
      "id": "9f38ab3f-68a7-402e-a451-0d87422ba2b5",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "wHQFUwC7W0V7wpsL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        40,
        380
      ],
      "id": "bd5b5136-8b37-40f7-a75d-edded0e3b5ca",
      "name": "Extract from File",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "feaa9629-e89a-499c-8afe-41ae0846d3ed",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        380
      ],
      "id": "211cd5fb-03ac-4a05-a0d0-f661590b19b2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your are an expert HR ,You are give a detailed cv extrct data from cv  and location if found {{ $json.text }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        480,
        380
      ],
      "id": "f6151df9-c8bb-464a-81d8-54a7c271f7af",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        500,
        600
      ],
      "id": "8aa97d37-e8bf-4c8f-a237-f4db3541cfb5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2HC1S2NqY1klQDX1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"name\": \"string\",\n  \"email\": \"string\",\n  \"phone\": \"string\",\n   \"languages\": [\"arabic,english\"],\n  \"skills\": [\"string\"],\n  \"location\":\"Egypt,Cairo\",\n  \"experience_years\": \"number\",\n  \"current_role\": \"string\",\n  \"technologies_used\": [\"string\"],\n  \"education\": [\n    {\n      \"degree\": \"string\",\n      \"field\": \"string\",\n      \"institution\": \"string\",\n      \"year\": \"number or null\"\n    },\n     {\n      \"degree\": \"string\",\n      \"field\": \"string\",\n      \"institution\": \"string\",\n      \"year\": \"number or null\"\n    }\n  ],\n  \"certificates\": [\n    {\n      \"name\": \"string\",\n      \"issuer\": \"string\",\n      \"year\": \"number or null\"\n    }\n  ],\n    \"linkedin\": \"string or null\",\n    \"github\": \"string or null\",\n    \"portfolio\": \"string or null\"\n  \n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        620,
        600
      ],
      "id": "e32de272-1ba4-4c35-97f0-cb46cee150c2",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bwsoszuqqvqeqkvatsey.supabase.co/rest/v1/cvs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ3c29zenVxcXZxZXFrdmF0c2V5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTIyMjg2NTYsImV4cCI6MjA2NzgwNDY1Nn0.8TiNQhO6o1HmI8Ekx5aC_GE3GPEckggiahV90o9O9Dk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ3c29zenVxcXZxZXFrdmF0c2V5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MjIyODY1NiwiZXhwIjoyMDY3ODA0NjU2fQ._eZeoKG1ONe3q8wpdp1RH5FQuA0iyVEZI2zQruAs4SA"
            },
            {
              "name": "Prefer",
              "value": "return=representation "
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.output.name }}"
            },
            {
              "name": "email",
              "value": "={{ $json.output.email }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.output.phone }}"
            },
            {
              "name": "location",
              "value": "={{ $json.output.location }}"
            },
            {
              "name": "linkedin",
              "value": "={{ $json.output.linkedin }}"
            },
            {
              "name": "github",
              "value": "={{ $json.output.github }}"
            },
            {
              "name": "portfile",
              "value": "={{ $json.output.portfolio }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        380
      ],
      "id": "cf4af79e-5ab8-4a09-8b52-31692f405adb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "tableId": "skills",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "cv_ids",
              "fieldValue": "={{ $('HTTP Request').item.json.id }}"
            },
            {
              "fieldId": "skills",
              "fieldValue": "={{ $json[\"output.skills\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1500,
        180
      ],
      "id": "63930e5e-cf02-4c36-804b-e9ae4f9bc77f",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "v71yuzvLpxpQIkB9",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.skills",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1280,
        180
      ],
      "id": "df9ed3ee-567e-4048-b5cb-ec0db9d84cb0",
      "name": "Split Out"
    },
    {
      "parameters": {
        "tableId": "education",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "cd_id",
              "fieldValue": "={{ $('HTTP Request').item.json.id }}"
            },
            {
              "fieldId": "year",
              "fieldValue": "={{ $('Edit Fields2').item.json.output.education[0].year }}"
            },
            {
              "fieldId": "degree",
              "fieldValue": "={{ $('Edit Fields2').item.json.output.education[0].degree }}"
            },
            {
              "fieldId": "institution",
              "fieldValue": "={{ $('Edit Fields2').item.json.output.education[0].institution }}"
            },
            {
              "fieldId": "filed",
              "fieldValue": "={{ $json.field }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1500,
        380
      ],
      "id": "0505e168-ec88-41e8-a7da-7f86cbf2bedc",
      "name": "Create a row1",
      "credentials": {
        "supabaseApi": {
          "id": "v71yuzvLpxpQIkB9",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.education",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1280,
        380
      ],
      "id": "d6cb209c-3420-40db-b7b1-5b34a9e6d92f",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3cc9977c-c6d4-4b84-9230-553d3de9addd",
              "name": "output.education",
              "value": "={{ $('Basic LLM Chain').item.json.output.education }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1060,
        380
      ],
      "id": "30b89b61-2477-4fd5-b861-0bcabd282d7d",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "tableId": "certificates",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "cv_id",
              "fieldValue": "={{ $('HTTP Request').item.json.id }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "fieldId": "issuer",
              "fieldValue": "={{ $json.issuer }}"
            },
            {
              "fieldId": "year",
              "fieldValue": "={{ $json.year }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1500,
        580
      ],
      "id": "90b00fa2-67fb-4773-84fc-bcd11c481359",
      "name": "Create a row2",
      "credentials": {
        "supabaseApi": {
          "id": "v71yuzvLpxpQIkB9",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.certificates",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1280,
        580
      ],
      "id": "a1d688e5-ba34-475b-843e-33e3ba62b61d",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32321df6-6d3c-4c12-b0ef-a09356b6344f",
              "name": "output.certificates",
              "value": "={{ $('Basic LLM Chain').item.json.output.certificates }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1060,
        580
      ],
      "id": "bd5ed4d7-6a2c-4c1b-b44e-ab18924e25b5",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "50fa2dd2-f8e7-4faa-86c9-81334c9f04c7",
              "leftValue": "=attachment_0",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -180,
        380
      ],
      "id": "cd41260e-0547-449b-9499-66310544874d",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Email Trigger\n",
        "height": 240,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        300
      ],
      "typeVersion": 1,
      "id": "f60d67d0-26c6-45a8-b990-c5563ecb4064",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Prepare Data",
        "height": 240,
        "width": 260,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -40,
        300
      ],
      "typeVersion": 1,
      "id": "e8273d83-0b35-42e6-b1be-8e96e00b644f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Extract Information\n",
        "height": 460,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        260,
        280
      ],
      "typeVersion": 1,
      "id": "65478fff-be6d-418e-af26-c9e2c60d441a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Extract Information\n",
        "height": 500,
        "width": 820,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        590,
        260
      ],
      "typeVersion": 1,
      "id": "ec701ac5-5cdd-4765-8ed6-379ed617388b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f971648-5919-4a15-8466-426d5d9359dc",
              "name": "=output.skills",
              "value": "={{ $('Basic LLM Chain').item.json.output.skills }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1060,
        180
      ],
      "id": "f6f816e9-3c95-4906-8445-6a58c7a24a07",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Create a row2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dc092d8f-52cb-4779-b2d4-cecbfbed88b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e47911f5a9d9112c8f1ad61d5ebd8ef24c29ea5c46196444f953e0b139a3562"
  },
  "id": "CFmYYKNKA14HnOfy",
  "tags": []
}